In [34]:
# import the dependencies

import pandas as pd
import numpy as np

from math import radians, degrees, sin, cos, asin, acos, sqrt, pi

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [35]:
def great_circle_distance(lon1, lat1, lon2, lat2, miles=False):
    """
    Compute the Great Circle Distance between two points given by longitude and latitude, in degrees,
    on the surface of the Earth.   Code is modified from:  
    https://medium.com/@petehouston/calculate-distance-of-two-locations-on-earth-using-python-1501b1944d97
    """
    # Radius of the Earth
    if miles:
        multiplier = 3958.756
    else:
        multiplier = 6378.137
        
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    
    return multiplier * (
        acos(sin(lat1) * sin(lat2) + cos(lat1) * cos(lat2) * cos(lon1 - lon2))
    )

In [36]:
great_circle_distance(-71.312796, 41.49008,  -81.695391, 41.499498)

865.1813931328801

In [37]:
great_circle_distance(-71.312796, 41.49008,  -81.695391, 41.499498, miles=True)

536.9972503182587

In [38]:
def bounding_box(lon, lat, distance, miles=False):
    """
    Return bounding coordinates that includes all points within the given distance of the point given by lon, lat.
    Based on the code given by Jan Philip Matuschek at:
    http://janmatuschek.de/LatitudeLongitudeBoundingCoordinates
    """
    
    # Radius of the Earth
    if miles:
        multiplier = 3958.756
    else:
        multiplier = 6378.137
    
    lon, lat = map(radians, [lon, lat])
    
    # angular distance in radians on a great circle
    rad_dist = distance / multiplier;

    min_lat = lat - rad_dist
    max_lat = lat + rad_dist
    
    if min_lat > radians(-90) and max_lat < radians(90):
        delta_lon = asin(sin(rad_dist) / cos(lat))
        
        min_lon = lon - delta_lon
        if min_lon < radians(-180):
            min_lon += 2 * pi
            
        max_lon = lon + delta_lon
        if max_lon > radians(180):
            max_lon -= 2 * pi
    
    else:
        # a pole is within the distance
        min_lat = max(min_lat, radians(-90))
        max_lat = min(max_lat, radians(90))
        min_lon = radians(-180)
        max_lon = radians(180)

    return map(degrees, [min_lon, max_lon, min_lat, max_lat])

In [39]:
min_lon, max_lon, min_lat, max_lat = bounding_box(-93.2650, 44.9778, 50)
print(min_lon, max_lon, min_lat, max_lat)

-93.89996534735104 -92.63003465264896 44.52864235794024 45.42695764205976

In [40]:
great_circle_distance(min_lon, min_lat, -93.2650, 44.9778)

70.84892771381021

In [41]:
# Connect to the GHCN stations database
engine = create_engine('sqlite:///static/data/ghcn.db')

In [42]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [43]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [44]:
# List the tables in the database
Base.classes.keys()

['countries', 'inventory', 'stations', 'states']

In [45]:
# Save references to each table
Inventory = Base.classes.inventory
Stations = Base.classes.stations

In [46]:
# Create a session
session = Session(engine)

In [69]:
def find_stations_with(session, element, lon_min, lon_max, lat_min, lat_max, first_year=None, last_year=None,):
    """
    Args:  
        element: one of the elements in the inventory table.
        first_year: the earliest year that must be included.  If None, we do not filter on first_year
        last_year: the latest year that must be included.  If None, we do not filter on last_year
    """
    
    if first_year:
        if last_year: 
            t = session.query(
                Inventory.station_id,
             ).filter(Inventory.first_year <= first_year)\
            .filter(Inventory.last_year >= last_year)\
            .filter(Inventory.element == element).subquery('t')
        else:
            t = session.query(
                Inventory.station_id,
            ).filter(Inventory.first_year <= first_year)\
            .filter(Inventory.element == element).subquery('t')
    else:
        if last_year: 
            t = session.query(
                Inventory.station_id,
            ).filter(Inventory.last_year >= last_year)\
            .filter(Inventory.element == element).subquery('t')
        else:
            t = session.query(
                Inventory.station_id,
            ).filter(Inventory.element == element).subquery('t')
        

    query = session.query(Stations).filter(Stations.station_id == t.c.station_id)\
    .filter(Stations.longitude >= lon_min)\
    .filter(Stations.longitude <= lon_max)\
    .filter(Stations.latitude >= lat_min)\
    .filter(Stations.latitude <= lat_max)

    return pd.read_sql(query.statement, session.bind)

In [70]:
# Look at the first row of the inventory table
first_row = session.query(Inventory).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1bce3880cf8>,
 'last_year': 1949,
 'element': 'TMAX',
 'id': 1,
 'first_year': 1949,
 'station_id': 'ACW00011604'}

In [71]:
def find_stations_near(session, lon, lat, radius, element, miles=False, first_year=None, last_year=None):
    # First get the bounding box to limit the search:
    lon_min, lon_max, lat_min, lat_max = bounding_box(lon, lat, radius, miles)
    
    # now query the database for all points within bounding box 
    df = find_stations_with(session, element, lon_min, lon_max, lat_min, lat_max, first_year, last_year)
    
    distance = []
    # now compute the great circle distance to each station
    for row in df.itertuples():
        distance.append(great_circle_distance(lon, lat, row.longitude, row.latitude, miles))

    df['distance'] = distance
    
    return df[df.distance <= radius]

In [72]:
# How does this behave with empty search results?  seems ok
find_stations_near(session, -93.2650, 44.9778, 0.5, 'PRCP')

Empty DataFrame
Columns: [station_id, latitude, longitude, elevation, country_id, state_id, name, gsn, hcn, wmo, distance]
Index: []

In [73]:
find_stations_near(session, -93.2650, 44.9778, 5, 'PRCP')

,station_id,latitude,longitude,elevation,country_id,state_id,name,gsn,hcn,wmo,distance
0,US1MNHN0009,45.0039,-93.2895,272.2,US,MN,MINNEAPOLIS 3.0 NNW,None,None,None,3.487394
1,US1MNHN0025,44.9817,-93.2783,249.9,US,MN,MINNEAPOLIS TARGET FIELD,None,None,None,1.133698
3,US1MNHN0065,45.0083,-93.2363,266.4,US,MN,MINNEAPOLIS 2.4 NE,None,None,None,4.078298
4,US1MNHN0093,44.9417,-93.2418,261.5,US,MN,MINNEAPOLIS 1.9 SE,None,None,None,4.414640
6,US1MNHN0147,44.9516,-93.3013,267.3,US,MN,MINNEAPOLIS 1.8 WSW,None,None,None,4.084222
7,US1MNHN0160,44.9553,-93.2176,254.2,US,MN,MINNEAPOLIS 2.5 ESE,None,None,None,4.495628
8,US1MNHN0163,44.9440,-93.2432,264.6,US,MN,MINNEAPOLIS 1.7 SE,None,None,None,4.135911
9,US1MNHN0169,44.9510,-93.2175,257.6,US,MN,MINNEAPOLIS 2.6 ESE,None,None,None,4.785142
11,US1MNHN0181,44.9671,-93.2622,258.5,US,MN,MINNEAPOLIS 0.4 NE,None,None,None,1.211357
12,USC00214884,44.9783,-93.2469,229.8,US,MN,LOWER ST ANTHONY FALLS,None,None,None,1.426369
13,USC00215433,44.9833,-93.3000,-999.9,US,MN,MINNEAPOLIS WB DWTN,None,None,None,2.823142

In [76]:
find_stations_near(session, -93.2650, 44.9778, 50, 'SNOW', miles=False, first_year=2015, last_year=2019)

,station_id,latitude,longitude,elevation,country_id,state_id,name,gsn,hcn,wmo,distance
0,US1MNAA0004,45.4090,-93.3090,284.1,US,MN,SAINT FRANCIS 4.0 E,None,None,NaN,48.124909
1,US1MNAA0005,45.3846,-93.1553,280.4,US,MN,EAST BETHEL 3.1 NE,None,None,NaN,46.095562
2,US1MNAA0006,45.1708,-93.2570,277.1,US,MN,BLAINE 2.4 W,None,None,NaN,21.493864
3,US1MNAA0013,45.1648,-93.2855,267.6,US,MN,COON RAPIDS 1.4 ESE,None,None,NaN,20.879038
4,US1MNAA0020,45.1646,-93.2072,276.5,US,MN,BLAINE 0.4 S,None,None,NaN,21.285178
5,US1MNAA0031,45.2488,-93.1597,274.9,US,MN,HAM LAKE 2.2 E,None,None,NaN,31.281188
6,US1MNAA0036,45.2582,-93.4114,268.5,US,MN,RAMSEY 1.9 E,None,None,NaN,33.265052
7,US1MNAA0054,45.1947,-93.3749,269.1,US,MN,ANOKA 1.3 SSE,None,None,NaN,25.643721
10,US1MNCG0011,45.3318,-92.8982,275.8,US,MN,CHISAGO CITY 1.3 SSE,None,None,NaN,48.806031
11,US1MNCV0001,44.7573,-93.6416,258.2,US,MN,CARVER 0.7 W,None,None,NaN,38.539929
12,US1MNCV0008,44.9663,-93.8489,295.7,US,MN,WATERTOWN 0.5 NNW,None,None,NaN,46.001684
13,US1MNCV0012,44.8536,-93.5863,296.0,US,MN,CHANHASSEN 1.2 W,None,None,NaN,28.856070
14,US1MNCV0022,44.8567,-93.6864,301.8,US,MN,VICTORIA 1.6 WSW,None,None,NaN,35.849426
15,US1MNCV0027,44.8898,-93.6099,308.5,US,MN,CHANHASSEN 3.4 NW,None,None,NaN,28.891496
16,US1MNDK0011,44.7608,-93.1300,298.7,US,MN,ROSEMOUNT 3.3 WNW,None,None,NaN,26.400099
17,US1MNDK0014,44.8344,-93.0358,280.1,US,MN,INVER GROVE HEIGHTS 1.3 ENE,None,None,NaN,24.111889
18,US1MNDK0015,44.7914,-93.2304,289.6,US,MN,BURNSVILLE 3.0 NE,None,None,NaN,20.928641
19,US1MNDK0016,44.7514,-93.1936,302.4,US,MN,ROSEMOUNT 6.3 W,None,None,NaN,25.824676
20,US1MNDK0017,44.6481,-93.2677,304.8,US,MN,LAKEVILLE 2.2 SSW,None,None,NaN,36.702655
21,US1MNDK0020,44.6443,-93.2655,321.9,US,MN,LAKEVILLE 2.4 SSW,None,None,NaN,37.125071
22,US1MNDK0022,44.6365,-93.1577,276.8,US,MN,FARMINGTON 1.5 SSE,None,None,NaN,38.926982
23,US1MNDK0023,44.7182,-93.1210,289.9,US,MN,ROSEMOUNT 3.3 SW,None,None,NaN,31.052970
24,US1MNDK0025,44.7788,-93.1453,281.9,US,MN,EAGAN 2.8 SSE,None,None,NaN,24.080917
25,US1MNDK0044,44.7208,-93.1497,286.8,US,MN,ROSEMOUNT 4.5 WSW,None,None,NaN,30.021396
26,US1MNDK0049,44.6569,-93.2839,311.8,US,MN,LAKEVILLE 2.1 SW,None,None,NaN,35.753587
27,US1MNDK0053,44.7042,-93.1846,283.8,US,MN,LAKEVILLE 3.8 ENE,None,None,NaN,31.111150
28,US1MNDK0070,44.8432,-93.1790,267.0,US,MN,EAGAN 2.0 NNW,None,None,NaN,16.446190
29,US1MNDK0073,44.7125,-93.2304,317.3,US,MN,LAKEVILLE 2.6 NNE,None,None,NaN,29.659052
30,US1MNHN0006,44.9829,-93.5736,306.3,US,MN,LONG LAKE 0.2 WSW,None,None,NaN,24.306323
31,US1MNHN0009,45.0039,-93.2895,272.2,US,MN,MINNEAPOLIS 3.0 NNW,None,None,NaN,3.487394
...,...,...,...,...,...,...,...,...,...,...,...
74,US1MNSC0006,44.7121,-93.4029,284.1,US,MN,PRIOR LAKE 2.0 ESE,None,None,NaN,31.516607
75,US1MNSC0010,44.6942,-93.6127,225.9,US,MN,JORDAN 2.3 NNE,None,None,NaN,41.833335
76,US1MNSC0025,44.5849,-93.4314,296.9,US,MN,ELKO NEW MARKET 4.8 WNW,None,None,NaN,45.670893
79,US1MNWG0001,44.9172,-92.9190,304.2,US,MN,WOODBURY 0.8 NNE,None,None,NaN,28.082521
80,US1MNWG0004,44.8478,-92.8026,290.5,US,MN,AFTON 4.0 S,None,None,NaN,39.220467
81,US1MNWG0009,45.0561,-92.8243,261.5,US,MN,STILLWATER 0.2 E,None,None,NaN,35.757889
82,US1MNWG0014,45.0318,-92.9165,301.8,US,MN,LAKE ELMO 2.7 NNW,None,None,NaN,28.080733
83,US1MNWG0016,44.9305,-92.9249,298.7,US,MN,WOODBURY 1.7 N,None,None,NaN,27.304781
84,US1MNWG0018,44.9991,-92.8821,285.0,US,MN,LAKE ELMO 1.1 ENE,None,None,NaN,30.239036
85,US1MNWG0019,45.0242,-92.9656,294.1,US,MN,PINE SPRINGS 1.0 SSW,None,None,NaN,24.126176
86,US1MNWG0020,45.0707,-92.8085,263.7,US,MN,STILLWATER 1.4 NE,None,None,NaN,37.377161
87,US1MNWG0033,44.8382,-92.9359,278.3,US,MN,COTTAGE GROVE 1.6 NNW,None,None,NaN,30.244359
88,US1MNWG0035,45.0309,-92.8420,291.4,US,MN,OAK PARK HEIGHTS 2.4 W,None,None,NaN,33.814438
89,US1MNWG0040,44.9236,-92.7921,256.9,US,MN,AFTON 1.8 NE,None,None,NaN,37.741563
90,US1MNWR0008,45.2012,-93.6658,292.3,US,MN,SAINT MICHAEL 1.3 E,None,None,NaN,40.133166
91,US1MNWR0025,45.2082,-93.6528,863.5,US,MN,SAINT MICHAEL 2.0 ENE,None,None,NaN,39.832149
93,USC00210190,45.2533,-93.2928,274.0,US,MN,ANDOVER 1N,None,None,NaN,30.746175
94,USC00211448,44.8497,-93.5644,288.3,US,MN,CHANHASSEN WSFO,None,None,NaN,27.575931
95,USC00212088,45.0417,-93.7908,277.4,US,MN,DELANO,None,None,NaN,41.988030
96,USC00212500,45.3047,-93.5842,268.2,US,MN,ELK RVR,None,None,NaN,44.186424
97,USC00213567,44.7597,-92.8689,207.3,US,MN,HASTINGS DAM 2,None,None,NaN,39.573114
98,USC00214176,44.6500,-93.6356,274.3,US,MN,JORDAN 1SSW,None,None,NaN,46.776743
99,USC00214884,44.9783,-93.2469,229.8,US,MN,LOWER ST ANTHONY FALLS,None,None,NaN,1.426369
100,USC00215838,45.0100,-93.3792,277.4,US,MN,NEW HOPE,None,None,NaN,9.678426
101,USC00217020,45.0897,-93.7400,289.6,US,MN,ROCKFORD,None,None,NaN,39.388973
102,USC00217107,44.7167,-93.0981,288.0,US,MN,ROSEMOUNT RSCH & OUTREACH CTR,None,None,NaN,31.911082
103,USC00218039,45.0456,-92.8522,273.7,US,MN,STILLWATER 2SW,None,None,NaN,33.351984
104,USC00218450,44.9903,-93.1800,295.7,US,MN,U OF MN ST PAUL,None,None,NaN,6.835743
105,USC00218477,45.0483,-93.0958,271.3,US,MN,VADNAIS LAKE,None,None,NaN,15.456196
107,USW00014922,44.8831,-93.2289,265.8,US,MN,MINNEAPOLIS/ST PAUL AP,GSN,HCN,72658.0,10.919118